.logo-large{
  .logo-wrapper{
    width: 304px;
    height: 150px;
    // border-radius: 2px;
    background: #FFF;
    position: relative;
    overflow: hidden;
    // box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .bar-1-1,.bar-1-2{
    background: #E4423F;
    height: 35px;
    width: 147px;
    position: absolute;
    z-index: 20;
    left: 40px;
  }
  .bar-1-1{
    transform:rotate(45deg);
    top:12%;
    box-shadow: 0 -8px 7px -6px rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0.19);
    
  }
  .bar-1-2{
    transform:rotate(-45deg);
    top:65%;
    box-shadow: 0 8px 7px -6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .bar-2-1,.bar-2-2	{
    background: #D53636;
    height: 35px;
    width: 168px;
    position: absolute;
    z-index: 10;
    left: 71px;
  }
  .bar-2-1{
    transform:rotate(45deg);
    top:7%;
    // box-shadow: 0 -8px 7px -6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .bar-2-2{
    transform:rotate(-45deg);
    top:70%;
    box-shadow:0 8px 7px -6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  } 
  .red-background	{
    position:absolute;
    right:0;
    top:0;
    width:100%;
    height:100%;
    // background:#C72C2C;
    z-index:1;
  }
  .white-patch	{
    width: 60px;
    height: 60px;
    background: #FFF;
    position: absolute;
    top: 30%;
    left: 100px;
    z-index: 3;
  }
  .logo{
    color:#E6423F;
    top: 44%;
    left: 0px;
    position: absolute;
    font-weight:bold;
    font-size: 18px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo p{
    margin: 0;
    font-weight: 400;
    // display: none;
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }
  .logo span	{
    display:inline-block;
    background:#E6423F;
    color:#FFF;
    padding: 2px 4px;
    vertical-align:middle;
    border-radius:4px;
    margin-left:-12px;
  }
  .black-shadow{
    background: rgba(0, 0, 0, 0.05);
    width: 190px;
    height: 210px;
    top: 74%;
    position: absolute;
    left: 138px;
    z-index: 10;
    transform: rotate(-45deg);
  } 
}

// #####################################################################################

.logo-normal{
  .logo-wrapper{
    width: 164px;
    height: 77px;
    background: #FFF;
    position: relative;
    overflow: hidden;
    // box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .bar-1-1,.bar-1-2{
    background:#E4423F;
    height:20px;
    width:78px;
    position:absolute;
    z-index:20;
    left:24px;
    
  }
  .bar-1-1{
    transform:rotate(45deg);
    top:10%;
    box-shadow:0 -8px 7px -6px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    
  }
  .bar-1-2{
    transform:rotate(-45deg);
    top:64%;
    box-shadow: 0 8px 7px -6px rgba(0,0,0,0.2),0 5px 10px 0 rgba(0,0,0,0.19);
  }
  .bar-2-1,.bar-2-2	{
    background: #D53636;
    height: 20px;
    width: 78px;
    position: absolute;
    z-index: 10;
    left: 52px;
  }
  .bar-2-1{
    transform:rotate(45deg);
    top:10%;
    // box-shadow: 0 -8px 7px -6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .bar-2-2{
    transform:rotate(-45deg);
    top:64%;
    box-shadow:0 8px 7px -6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  } 
  .red-background	{
    position:absolute;
    right:0;
    top:0;
    width:100%;
    height:100%;
    // background:#C72C2C;
    z-index:1;
    
  }
  .white-patch	{
    width: 60px;
    height: 40px;
    background: #FFF;
    position: absolute;
    top: 30%;
    left: 45px;
    z-index: 3;
  }
  .logo{
    color:#E6423F;
    top: 41%;
    left: 0px;
    position: absolute;
    font-weight:bold;
    font-size: 18px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo p{
    margin: 0;
    font-weight: 400;
    // display: none;
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }
  .logo span	{
    display:inline-block;
    background:#E6423F;
    color:#FFF;
    padding: 2px 4px;
    vertical-align:middle;
    border-radius:4px;
    margin-left:-12px;
  }
  .black-shadow{
    background: rgba(0, 0, 0, 0.05);
    width: 78px;
    height: 95px;
    top: 68%;
    position: absolute;
    left: 93px;
    z-index: 10;
    transform: rotate(-45deg);
  } 
}


// #####################################################################################

.logo-small{ 
  .logo-wrapper{
    width: 118px;
    height: 50px;
    // border-radius: 4px;
    background: #FFF;
    position: relative;
    overflow: hidden;
    // box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .bar-1-1,.bar-1-2{
    background:#E4423F;
    height:15px;
    width:78px;
    position:absolute;
    z-index:20;
    left:0px;
    
  }
  .bar-1-1{
    transform:rotate(45deg);
    top:-10%;
    box-shadow: 0 -8px 7px -6px rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0.19)
    
  }
  .bar-1-2{
    transform:rotate(-45deg);
    top:80%;
    box-shadow: 0 8px 7px -6px rgba(0,0,0,0.2),0 5px 10px 0 rgba(0,0,0,0.19)
  }
  .bar-2-1,.bar-2-2	{
    background: #D53636;
    height: 15px;
    width: 78px;
    position: absolute;
    z-index: 10;
    left: 21px;
  }
  .bar-2-1{
    transform:rotate(45deg);
    top:-10%;
    // box-shadow: 0 -8px 7px -6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }
  .bar-2-2{
    transform:rotate(-45deg);
    top:80%;
    box-shadow:0 8px 7px -6px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  } 
  .red-background	{
    position:absolute;
    right:0;
    top:0;
    width:100%;
    height:100%;
    // background:#C72C2C;
    z-index:1;
    
  }
  .white-patch	{
    width: 60px;
    height: 25px;
    background: #FFF;
    position: absolute;
    top: 0%;
    left: 45px;
    z-index: 3;
  }
  .logo{
    color:#E6423F;
    top: 40%;
    left: 0px;
    position: absolute;
    font-weight:bold;
    font-size: 18px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo p{
    margin: 0;
    position: relative;
    bottom: 2px;
    right: 0px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }
  .logo span	{
    display:inline-block;
    background:#E6423F;
    color:#FFF;
    padding: 2px 4px;
    vertical-align:middle;
    border-radius:2px;
    margin-left:-12px;
  }
  .black-shadow{
    background: rgba(0, 0, 0, 0.05);
    width: 78px;
    height: 95px;
    top: 78%;
    position: absolute;
    left: 60px;
    z-index: 10;
    transform: rotate(-45deg);
  } 
}