.main-header-wrapper{
  padding: 15px 5%;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  // box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: white;
  header.main-header{
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-gap: 15px;
    align-items: center;
    .search-input {
      max-width: unset;
    }
    .search-results-wrapper{
      margin: 0;
    }
  //   nav ul{
  //     display: flex; 
  //     flex-direction: row;
  //     li{
  //       list-style: none;
  //       display: inline-block;
  //       a{
  //         display: block;
  //         text-decoration: none;
  //         color: #9c9898;
  //         font-weight: 500;
  //         padding: 10px;
  //         transition: all 0.3s ease;
  //         &.active{
  //           color: #222;
  //         }
  //       }
  //       &:last-child a{
  //         padding-right: 0px;
  //       }
  //     }
  //   }
  }
}